<!DOCTYPE html>
<html>
  <head>
    <title>Slaq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'https://a.slack-edge.com/cebaa/img/icons/favicon-32.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script>
      window.logo1 = "<%= image_path('av1.png') %>"
      window.logo2 = "<%= image_path('av2.png') %>"
      window.logo3 = "<%= image_path('av3.png') %>"
      window.logo4 = "<%= image_path('av4.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
